<!DOCTYPE html>
<html>
  <head>
    <title>Dummy</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= yield :head %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="<%= "turbo-native" if turbo_native_app? %>">
    <%= yield %>
  </body>
</html>
